doctype html
html
	head
		meta(charset='UTF-8')
		title Electron Dashboard
		link(rel='stylesheet' href='asset/css/bootstrap.min.css')
		link(rel='stylesheet' href='asset/css/open-iconic-bootstrap.styl')
		link(rel='stylesheet' href='../node_modules/chartist/dist/chartist.min.css')
		link(rel='stylesheet' href='../node_modules/c3/c3.min.css')
	body
		div#app
		script(src='index.coffee')